.col-align {
  padding-left: 0px;
}

.remove-item:hover {
  cursor: pointer;
  background-color: #E5FFF2;
}

li {
  font-size: 40px;
}

.small-lead {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}

.large-lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}
